{% extends 'base.html.twig' %}

{% block body %}

<h1>New Product</h1>
<a href="{{ path('product_index') }}"> Back </a>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}

{{ form_row(form.name) }}

{{ form_row(form.description) }}

{{ form_row(form.size) }}

{{ form_end(form)  }}

{% endblock %}
